 /*RESERVED FOR BACKOFFICE AJAX ON PRODUCT PAGE*/

 #jb_related_products_block .typeahead-list li > .media-left img {
     max-width: 50px;
     max-height: 50px;
 }
 #jb_related_products_block .typeahead-list li {
     border: 1px solid #bbcdd2;
     align-items: center;
     display: flex;
     padding: .3125rem;
     margin-top: .3125rem;
 }
 #jb_related_products_block .typeahead-list li > .media-body .label{
     margin-left: .3125rem;
 }
 #jb_related_products_block .typeahead-list li > .media-body i.delete {
     cursor: pointer;
     float: right;
     color: #6c868e;
 }